.demo-container {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    background-color: #dfe6e9;
    overflow: auto;
}
.mm-diagram-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.mm-diagram-container {
    position: relative;
    border-spacing: 0;
}

/* 关系线 start */
.mm-line {
    --currentColor: #6c5ce7;
    position: absolute;
    width: 1px;
    background-color: var(--currentColor);
    z-index: 2;
    cursor: pointer;
}
.mm-line.active {
    --currentColor: #d63031;
}
.mm-line-point {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.mm-line-point_bg {
    background-color: var(--currentColor);
}
.mm-line-point_start {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.mm-line-point_end {
    bottom: 0;
    left: 0;
    width: 24px;
    height: 24px;
    justify-content: flex-end;
    transform: translate(-50%, 50%);
    border-radius: 50%;
}

.mm-line-close {
    position: absolute;
    left: 50%;
    color: var(--currentColor);
    transform: translateX(-50%);
}
.mm-line-point_end .mm-line-close {
    bottom: -20px;
}
.mm-line-point_start .mm-line-close {
    top: -20px;
}

.mm-line-point-text,
.mm-line-point-arrow,
.mm-line-point-subtext {
    order: 1;
}
.mm-line-point-text {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.mm-line-point-subtext {
    position: absolute;
    padding: 5px 0;
    bottom: -50px;
    left: 50%;
    color: var(--currentColor);
    font-size: 14px;
    writing-mode: vertical-lr;
    white-space: nowrap;
    border: 1px solid var(--currentColor);
    border-radius: 20px;
    background: #fff;
    transform: translateX(-50%);
}
.mm-line-point-arrow {
    color: var(--currentColor);
}
.mm-line-point_start .mm-line-point-arrow {
    transform: translateY(50%);
}
.mm-line-point_end .mm-line-point-arrow {
    transform: translateY(-50%);
    order: 0;
}
.mm-line-point_start.mm-line-point-type_quote .mm-line-point-arrow {
    transform: translateY(-25%);
}
.mm-line-point_end.mm-line-point-type_quote .mm-line-point-arrow {
    transform: translateY(25%);
}
/* 关系线 end */

.mm-root-name,
.mm-child-name,
.mm-last-name {
    padding: 20px 0;
    color: #fff;
    text-align: right;
}

.mm-name-wrap {
    width: 150px;
    cursor: pointer;
}
.mm-root-name .mm-name-wrap {
    background-color: #00b894;
}
.mm-child-name .mm-name-wrap {
    background-color: #fab1a0;
}
.mm-last-name .mm-name-wrap {
    background-color: #d63031;
}
.mm-fold,
.mm-add {
    position: relative;
    background: #dfe6e9;
    z-index: 2;
}
.mm-fold .iconfont {
    color: #0984e3;
    cursor: pointer;
}

.mm-add .iconfont {
    color: #aaa;
    cursor: pointer;
}

.mm-horizontal-line_wrap {
    position: relative;
}
.mm-horizontal-line {
    box-sizing: border-box;
    position: absolute;
    left: 150px;
    right: 0;
    top: 50%;
    border-bottom: 2px solid #0984e3;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.mm-horizontal-line_dashed {
    border-bottom: 2px dashed #bbb;
}
.mm-name.highlight + td .mm-horizontal-line_dashed {
    border-color: #0984e3;
    border-width: 3px;
}
.mm-node-item {
    position: relative;
    padding: 0 15px;
}
.mm-node-item-name {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    transform: translate(0%, -50%);
    border-radius: 50%;
}
.mm-node-item-end {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 10px;
    height: 10px;
    border-left: 1px solid #6c5ce7;
    border-bottom: 1px solid #6c5ce7;
    transform: rotate(-45deg) translate(-2px, -5px);
}
/* .mm-node-item-line::after {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #6c5ce7;
    content: "";
}
.mm-node-item-line.mm-node-item-line_start::after {
    top: 50%;
}
.mm-node-item-line.mm-node-item-line_end::after {
    bottom: 50%;
} */
