@import './animation.css';

:root {
  --light: #fff;
  --base: #263238;
  --brand: #ff3d00;
  --size: 48px;
  --r: calc(var(--size) / 2);
}

*, *:after, *:before {
  box-sizing: border-box;
}

body, html {
  background: var(--base);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  /* align-items: ; */
  flex-wrap: wrap;
  /* height: 100vh;
  width: 100vw; */
}

.container .demo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 33.33333%;
  min-width: 200px;
  cursor: pointer;
  transition: all linear .3s;
}

.container .demo-wrapper:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, .1);
}

.container .demo-wrapper:hover {
  background-color: rgba(0, 0, 0, .4);
}

/* loading-1 */
.loading-1 {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 5px solid var(--light);
  border-bottom-color: var(--brand);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

/* loading-2 */
.loading-2 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-2:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--size) - 8px);
  height: calc(var(--size) - 8px);
  border: 4px solid transparent;
  border-bottom-color: var(--brand);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* loading-3 */
.loading-3 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-3:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--size) + 8px);
  height: calc(var(--size) + 8px);
  border: 4px solid transparent;
  border-bottom-color: var(--brand);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* loading-4 */
.loading-4 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-4:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--size) - 8px);
  height: calc(var(--size) - 8px);
  border: 4px solid transparent;
  border-bottom-color: var(--brand);
  border-top-color: var(--brand);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* loading-5 */
.loading-5 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-5:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--size) + 8px);
  height: calc(var(--size) + 8px);
  border: 4px solid transparent;
  border-bottom-color: var(--brand);
  border-top-color: var(--brand);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* loading-6 */
.loading-6 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-6:before,
.loading-6:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--brand);
  border-radius: 50%;
}
.loading-6:after {
  top: initial;
  bottom: 2px;
}

/* loading-7 */
.loading-7 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-7:before,
.loading-7:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--brand);
  border-radius: 50%;
}
.loading-7:after {
  top: initial;
  bottom: -11px;
}

/* loading-8 */
.loading-8 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-8:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-7px);
  width: 14px;
  height: 14px;
  background-color: var(--brand);
  border-radius: 50%;
}

/* loading-9 */
.loading-9 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--brand);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-9:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-7px);
  width: 12px;
  height: 12px;
  border: 1px solid var(--light);
  border-radius: 50%;
}

/* loading-10 */
.loading-10 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-10:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: calc(var(--size) - 18px);
  height: calc(var(--size) - 18px);
  border: 3px solid var(--brand);
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotationBack .5s linear infinite;
}

/* loading-11 */
.loading-11 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid;
  border-color: var(--light) var(--light) transparent transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-11:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: calc(var(--size) - 12px);
  height: calc(var(--size) - 12px);
  border: 3px solid;
  border-color: var(--brand) var(--brand) transparent transparent;
  border-radius: 50%;
  animation: rotationBack .5s linear infinite;
}
.loading-11:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: calc(var(--size) - 20px);
  height: calc(var(--size) - 20px);
  border: 3px solid;
  border-color: var(--light) var(--light) transparent transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

/* loading-12 */
.loading-12 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px;
  border-color: var(--light);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  animation: rotation 2s linear infinite;
}
.loading-12:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: calc(var(--size) - 18px);
  height: calc(var(--size) - 18px);
  border: 3px;
  border-color: var(--brand);
  border-style: solid solid solid dotted;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
}

/* loading-13 */
.loading-13 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 3px solid var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-13:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 3px;
  background-color: var(--brand);
}

/* loading-14 */
.loading-14 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-14:after,
.loading-14:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid var(--light);
  border-radius: 50%;
  transform: scale(0);
  animation: loading14 2s linear infinite;
}
.loading-14:after {
  animation-delay: 1s;
}

/* loading-15 */
.loading-15 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 4px dotted var(--light);
  border-radius: 50%;
  animation: rotation 2s linear infinite;
}

/* loading-16 */
.loading-16 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--brand), var(--base));
  animation: rotation 1s linear infinite;
}
.loading-16:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--base);
  border-radius: 50%;
}

/* loading-17 */
.loading-17 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-width: 4px 4px 4px 0px;
  border-style: solid;
  border-color: var(--light) transparent transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

/* loading-18 */
.loading-18 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  animation: rotation 1s linear infinite;
}
.loading-18:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 4px 4px 0px 0px;
  border-style: solid;
  border-color: var(--light) transparent transparent;
  border-radius: 50%;
}
.loading-18:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0px 0px 4px 4px;
  border-style: solid;
  border-color: transparent transparent var(--brand) transparent;
  border-radius: 50%;
}

/* loading-19 */
.loading-19 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-width: 4px 0px 0px 4px;
  border-style: solid;
  border-color: transparent transparent transparent var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-19:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 4px 0px 0px 4px;
  border-style: solid;
  border-color: var(--brand) transparent transparent;
  border-radius: 50%;
  animation: rotationBack .45s linear infinite;
}

/* loading-20 */
.loading-20 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-width: 4px 4px 4px 4px;
  border-style: solid;
  border-color: transparent var(--brand) transparent var(--brand);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

/* loading-21 */
.loading-21 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, .8) rgba(255, 255, 255, .6) rgba(255, 255, 255, .4) rgba(255, 255, 255, .2);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

/* loading-22 */
.loading-22 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 10px solid var(--light);
  border-radius: 50%;
  animation: loading22 2s linear infinite;
}

/* loading-23 */
.loading-23 {
  display: inline-block;
  position: relative;
  /* width: var(--size);
  height: var(--size); */
  /* 无法开方 所以定长 */
  width: 48px;
  height: 48px;
  border: 3px solid;
  border-color: transparent rgba(255, 255, 255) rgba(255, 255, 255);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-23:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0px;
  border-width: 10px 0 0px 10px;
  border-style: solid;
  border-color: var(--light) transparent transparent;
}

/* loading-24 */
.loading-24 {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: solid dotted dashed solid;
  border-color: transparent var(--brand) var(--brand);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}
.loading-24:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0px;
  border-width: 10px 0 0px 10px;
  border-style: solid;
  border-color: var(--brand) transparent transparent;
}

/* loading-25*/
.loading-25 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--light);
  border-radius: 50%;
  animation: loading25 1s ease-in infinite backwards;
}

/* loading-26*/
.loading-26 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* background-color: var(--light);
  border-radius: 50%; */
}
.loading-26:before,
.loading-26:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  border-radius: 50%;
  animation: loading26 2s linear infinite backwards;
}
.loading-26:after {
  animation-delay: 1s;
}

/* loading-27*/
.loading-27 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-27:before,
.loading-27:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  border-radius: 50%;
  animation: loading27 2s ease-in-out infinite backwards;
}
.loading-27:after {
  animation-delay: 1s;
}

/* loading-28*/
.loading-28 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--light);
  border-radius: 50%;
}
.loading-28:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base);
  border-radius: 50%;
  animation: loading28 2s linear infinite backwards;
}

/* loading-29*/
.loading-29 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite backwards;
}
.loading-29:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-width: calc(var(--size) / 2);
  border-style: solid;
  border-color: var(--brand) transparent transparent;
  border-radius: 50%;
}

/* loading-30*/
.loading-30 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite backwards;
}
.loading-30:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: calc(calc(var(--size) / 2) - 4px);
  border-style: solid;
  border-color: var(--brand) transparent var(--brand) transparent;
  border-radius: 50%;
}

/* loading-31*/
.loading-31 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--light);
  border-radius: 50%;
  animation: rotation 1s linear infinite backwards;
}
.loading-31:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5px, -15px);
  width: 10px;
  height: 10px;
  background-color: var(--brand);
  border-radius: 50%;
  box-shadow: 10px 17px var(--brand),
              -10px 17px var(--brand);
}

/* loading-32*/
.loading-32 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: rgba(255, 255, 255, 0.15);
  border: 4px solid;
  border-color: transparent transparent var(--light) var(--light);
  border-radius: 50%;
  animation: rotation 1s ease-in-out infinite backwards;
}
.loading-32:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: calc(var(--size) / 4) solid;
  border-color: transparent transparent var(--brand) var(--brand);
  border-radius: 50%;
}

/* loading-33*/
.loading-33 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* background-color: #607692; */
  border: 3px solid;
  border-color: transparent var(--light) transparent var(--light);
  border-radius: 50%;
  animation: rotation 1.5s linear infinite backwards;
}
.loading-33:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: calc(calc(var(--size) / 2) - 3px) solid;
  border-color: transparent rgba(255, 255, 255, 0.15) transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

/* loading-34*/
.loading-34 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* background-color: #607692; */
  border: calc(var(--size) / 2) solid;
  border-color: rgba(255, 255, 255, 0.65)
                rgba(255, 255, 255, 0.15)
                rgba(255, 255, 255, 0.25)
                rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  animation: loading34 2s linear infinite backwards;
}

/* loading-35*/
.loading-35 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  animation: rotation 1s linear infinite;
}
.loading-35:before,
.loading-35:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: var(--light);
  border-radius: 50%;
}
.loading-35:after {
  top: 100%;
  background-color: var(--brand);
}

/* loading-36*/
.loading-36 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  animation: loading36 2s linear infinite;
}
.loading-36:before,
.loading-36:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: var(--brand);
  border-radius: 50%;
}
.loading-36:after {
  top: 100%;
}

/* loading-37*/
.loading-37 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  animation: rotation 1s linear infinite;
}
.loading-37:before,
.loading-37:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: var(--light);
  border-radius: 50%;
  animation: loading37 1s linear infinite;
}
.loading-37:after {
  top: calc(100% - 10px);
  background-color: var(--brand);
  animation-delay: .5s;
}

/* loading-38*/
.loading-38 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  animation: rotation 1s linear infinite;
}
.loading-38:before,
.loading-38:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: scale(.6) translate(-50%, -50%);
  transform-origin: left top;
  width: 16px;
  height: 16px;
  background-color: var(--light);
  border-radius: 50%;
  animation: loading38 1s linear infinite;
}
.loading-38:after {
  top: 100%;
  background-color: var(--brand);
}

/* loading-39*/
.loading-39 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* animation: rotation 1s linear infinite; */
}
.loading-39:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  width: 16px;
  height: 16px;
  background-color: var(--light);
  border-radius: 50%;
  box-shadow: 20px 0 rgba(255, 255, 255, .8),
              -20px 0 rgba(255, 255, 255, .8);
  animation: loading39 2s linear infinite;
}

/* loading-40*/
.loading-40 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-40:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  width: 16px;
  height: 16px;
  background-color: var(--light);
  border-radius: 50%;
  box-shadow: 20px 0 var(--light),
              -20px 0 var(--light);
  animation: loading40 2s linear infinite backwards;
}

/* loading-41*/
.loading-41 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  animation: rotation 2s ease-in-out infinite;
}
.loading-41:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  width: 16px;
  height: 16px;
  background-color: var(--brand);
  border-radius: 50%;
  box-shadow: 24px 0 var(--light),
              -24px 0 var(--light);
}

/* loading-42*/
.loading-42 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-42:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  width: 10px;
  height: 10px;
  background-color: var(--light);
  border-radius: 50%;
  box-shadow: 20px 0 var(--light),
              -20px 0 var(--light);
  animation: loading42 1s ease-in-out infinite;
}

/* loading-43*/
.loading-43 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* background-color: red; */
}
.loading-43:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -150%);
  transform-origin: left top;
  width: 10px;
  height: 10px;
  background-color: transparent;
  /* box-shadow: 0px 10px var(--light),
              -10px 10px var(--light),
              -20px 10px var(--light),
              -30px 10px var(--light); */
  border-radius: 50%;
  animation: loading43 2s linear infinite backwards;
}

/* loading-44*/
.loading-44 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* background-color: red; */
}
.loading-44:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  width: 4px;
  height: 4px;
  background-color: transparent;
  box-shadow: -38px 0px 0 2px var(--light),
              -14px 0px 0 2px var(--light),
              14px 0px 0 2px var(--light),
              38px 0px 0 2px var(--light);
  border-radius: 50%;
  animation: loading44 2s linear infinite backwards;
}

/* loading-45*/
.loading-45 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* background-color: red; */
}
.loading-45:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  width: 10px;
  height: 10px;
  background-color: transparent;
  box-shadow: -38px 0px var(--light),
              -14px 0px var(--light),
              14px 0px var(--light),
              38px 0px var(--light);
  border-radius: 50%;
  animation: loading45 2s linear infinite;
}

/* loading-46*/
.loading-46 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.loading-46:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform-origin: left top; */
  width: 1px;
  height: 1px;
  border-radius: 50%;
  animation: loading46 1s linear infinite;
}

/* loading-47*/
.loading-47 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-47:after,
.loading-47:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--light);
  animation: rotation 2s ease-in-out infinite;
}
.loading-47:after {
  border: 2px solid var(--brand);
  animation: rotation 2s ease-in-out 1s infinite;
}

/* loading-48*/
.loading-48 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-48:after,
.loading-48:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: left top;
  width: 100%;
  height: 100%;
  border: 2px solid var(--light);
  animation: loading48 2s linear infinite;
}
.loading-48:after {
  border: 2px solid var(--brand);
  animation: loading48 2s linear 1s infinite;
}

/* loading-49*/
.loading-49 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--light);
  animation: rotation 2s linear infinite;
}
.loading-49:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  margin: -40% -40%;
  border: 2px solid var(--brand);
  animation: rotationBack 1s linear infinite;
}
.loading-49:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  margin: -30% -30%;
  border: 2px solid var(--light);
  animation: rotation 2s linear infinite;
}

/* loading-50*/
.loading-50 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--light);
  animation: loading50 2s linear infinite;
}

/* loading-51*/
.loading-51 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--light);
  /* background-color: var(--light); */
  /* animation: loading50 2s linear infinite; */
  overflow: hidden;
}
.loading-51:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: var(--light);
  animation: loading51 4s linear infinite;
}

/* loading-52*/
.loading-52 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: var(--light);
  animation: loading52 1s linear infinite;
}

/* loading-53*/
.loading-53 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-53:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: var(--light);
  transform-origin: right bottom;
  animation: loading53 2s linear infinite;
}

/* loading-54*/
.loading-54 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-54:after,
.loading-54:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  /* width: 50%;
  height: 50%; */
  background-color: var(--light);
}
.loading-54:after {
  animation: loading54 2s linear infinite alternate;
}

/* loading-55*/
.loading-55 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.loading-55:after,
.loading-55:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  width: 50%;
  height: 50%;
}
.loading-55:before {
  top: -50%;
  animation: loading55b 2s linear infinite alternate;
}
.loading-55:after {
  background-color: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transform-origin: right bottom;
  animation: loading55a 2s linear infinite alternate;
}

/* loading-56*/
.loading-56 {
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
  transform: rotate(45deg);
}
.loading-56:after,
.loading-56:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  width: 50%;
  height: 50%;
}
.loading-56:before {
  top: -50%;
  animation: loading56b 4s linear infinite;
}
.loading-56:after {
  background-color: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transform-origin: right bottom;
  animation: loading53 2s linear infinite;
}

/* loading-57*/
.loading-57 {
  display: inline-block;
  position: relative;
  left: -30px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  color: var(--light);
  background-color: currentColor;
  box-shadow: 0 30px,
              0 -30px;
  animation: loading57 2s ease infinite;
}
.loading-57:after,
.loading-57:before {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  width: 100%;
  height: 100%;
  color: var(--light);
  background-color: currentColor;
  border-radius: 4px;
  box-shadow: 0 30px,
              0 -30px;
  animation: loading57 2s ease .2s infinite;
}
.loading-57:before {
  left: 60px;
  animation-delay: .4s;
}

/* loading-58*/
.loading-58 {
  display: inline-block;
  position: relative;
  width: 8px;
  height: var(--size);
  border-radius: 4px;
  color: var(--light);
  background-color: currentColor;
  animation: loading58 .8s linear .2s infinite;
}
.loading-58:after,
.loading-58:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 8px;
  height: var(--size);
  color: var(--light);
  background-color: currentColor;
  border-radius: 4px;
  animation: loading58 .8s linear .4s infinite;
}
.loading-58:before {
  left: -20px;
  animation-delay: 0s;
}

/* loading-59*/
.loading-59 {
  display: inline-block;
  position: relative;
  width: 8px;
  height: var(--size);
  border-radius: 4px;
  color: var(--light);
  background-color: currentColor;
  animation: loading58 .8s linear .2s infinite;
}
.loading-59:after,
.loading-59:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  width: 8px;
  height: var(--size);
  transform: translateY(-50%);
  color: var(--light);
  background-color: currentColor;
  border-radius: 4px;
  animation: loading58 .8s linear .4s infinite;
}
.loading-59:before {
  left: -20px;
  animation-delay: 0s;
}

/* loading-60*/
.loading-60 {
  display: inline-block;
  position: relative;
  width: 8px;
  height: var(--size);
  border-radius: 4px;
  color: var(--light);
  background-color: currentColor;
  animation: loading60 .8s linear .2s infinite;
}
.loading-60:after,
.loading-60:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  width: 8px;
  height: var(--size);
  transform: translateY(-50%);
  color: var(--light);
  background-color: currentColor;
  border-radius: 4px;
  animation: loading60 .8s linear .4s infinite;
}
.loading-60:before {
  left: -20px;
  animation-delay: 0s;
}

/* loading-61*/
.loading-61 {
  display: inline-block;
  position: relative;
  left: -40px;
  width: 8px;
  height: var(--size);
  border-radius: 4px;
  color: var(--light);
  animation: loading61 .6s linear infinite;
}

/* loading-62*/
.loading-62 {
  display: inline-block;
  position: relative;
  top: -30px;
  height: 6px;
  width: var(--size);
  border-radius: 3px;
  color: var(--light);
  animation: loading62 .6s linear infinite;
}

/* loading-63*/
.loading-63 {
  display: inline-block;
  position: relative;
  height: 6px;
  width: var(--size);
  border-radius: 3px;
  color: var(--light);
  background-color: currentColor;
  animation: loading63 .8s linear .2s infinite;
}
.loading-63:after,
.loading-63:before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 15px;
  height: 6px;
  width: var(--size);
  color: var(--light);
  background-color: currentColor;
  border-radius: 3px;
  animation: loading63 .8s linear .4s infinite;
}
.loading-63:before {
  top: -15px;
  animation-delay: 0s;
}

/* loading-64*/
.loading-64 {
  display: inline-block;
  position: relative;
  height: 4px;
  width: var(--size);
  border-radius: 2px;
  color: var(--light);
  background-color: currentColor;
  animation: loading63 .8s linear .2s infinite;
}
.loading-64:after,
.loading-64:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 15px;
  height: 4px;
  width: var(--size);
  transform: translateX(-50%);
  color: var(--light);
  background-color: currentColor;
  border-radius: 2px;
  animation: loading63 .8s linear .4s infinite;
}
.loading-64:before {
  top: -15px;
  animation-delay: 0s;
}

/* loading-65*/
.loading-65 {
  display: inline-block;
  position: relative;
  left: -60px;
  width: 8px;
  height: var(--size);
  border-radius: 4px;
  color: var(--light);
  /* background-color: currentColor; */
  animation: loading65 1s linear infinite alternate;
}

/* loading-66*/
.loading-66 {
  display: inline-block;
  position: relative;
  height: 8px;
  width: var(--size);
  border-radius: 4px;
  color: var(--light);
  background-color: currentColor;
  animation: loading63 1s linear .3s infinite;
}
.loading-66:before,
.loading-66:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  height: 8px;
  width: var(--size);
  border-radius: 4px;
  background-color: inherit;
  animation: loading63 1s linear infinite;
}
.loading-66:before {
  right: calc(100% + 4px);
}
.loading-66:after {
  left: calc(100% + 4px);
  animation-delay: .6s;
}

/* loading-67*/
.loading-67 {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  height: 4px;
  width: 100%;
  min-width: 200px;
  background-color: rgba(255, 255, 255, .2);
  overflow: hidden;
}
.loading-67:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 25%;
  background-color: var(--light);
  animation: loading67 2s linear infinite;
}

/* loading-68*/
.loading-68 {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  height: 4px;
  width: 100%;
  min-width: 200px;
  background-color: rgba(255, 255, 255, .2);
  overflow: hidden;
}
.loading-68:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 60%;
  background-color: var(--light);
  animation: loading68 2s linear infinite;
}

/* loading-69*/
.loading-69 {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  height: 4px;
  width: 100%;
  min-width: 200px;
  background-color: rgba(255, 255, 255, .2);
  overflow: hidden;
}
.loading-69:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 110%;
  background-color: var(--light);
  animation: loading69 4s linear infinite;
}

/* loading-70*/
.loading-70 {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  height: 4px;
  background-color: var(--light);
  animation: loading70 4s linear infinite;
}
.loading-70:before,
.loading-70:after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 10px;
  transform-origin: right;
  background-color: var(--light);
}
.loading-70:before {
  top: 0;
  right: 0;
  transform: rotate(45deg) translateX(0px);
  animation: loading70b .3s linear infinite;
}
.loading-70:after {
  bottom: 0;
  right: 0;
  transform: rotate(-45deg) translateX(0px);
  animation: loading70a .3s linear infinite;
}

/* loading-71*/
.loading-71 {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  height: 4px;
  width: 100%;
  min-width: 200px;
  /* background-color: rgba(255, 255, 255, .2); */
  overflow: hidden;
}
.loading-71:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 25%;
  background-color: var(--light);
  animation: loading67 2s linear infinite;
}

/* loading-72*/
.loading-72 {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  height: 4px;
  width: 100%;
  min-width: 200px;
  background-color: rgba(255, 255, 255, .2);
  overflow: hidden;
}
.loading-72:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  /* width: 25%; */
  background-color: var(--light);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  animation: loading72 4s linear infinite;
}

/* loading-73*/
.loading-73 {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  height: 4px;
  width: 100%;
  min-width: 200px;
  background-color: rgba(255, 255, 255, .2);
  overflow: hidden;
}
.loading-73:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  /* width: 25%; */
  background-color: var(--light);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  animation: loading72 4s linear infinite,
             loading73 1s linear infinite;
  z-index: 99;
}