body,
html {
    background: #3f3f3f;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.demo-item {
    margin: 10px;
    height: 150px;
    width: 150px;
    background: #fff;
}

.ripple-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ripple-wrapper .ripple-animation {
    position: absolute;
    width: 300%;
    height: 300%;
    border-radius: 50%;
    pointer-events: none; /* 防止波纹div 成为点击事件target */
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0% 0%;
    animation-name: ripple;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    /* animation: ripple 0.6s linear; */
}

@keyframes ripple {
    from {
        opacity: 0;
    }
    60% {
        opacity: 0.8;
    }
    to {
        opacity: 0;
        transform: scale(1) translate(-50%, -50%);
    }
}
